<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | prepend: site.github.url }}">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico?v=' | append: site.github.build_revision | prepend: site.github.url }}">
</head>

<body>
    <header>
        <h1>{{site.title | default: '我的个人主页'}}</h1>
    </header>

    <section class="default markdown-body">
        <ul>
            {% for post in site.posts %}
            <li>
                {{ post.date | date_to_string }}
                <a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
                <!-- {{ post.excerpt }} -->
            </li>
            {% endfor %}
        </ul>

        {{content}}
    </section>

    {% include footer.html %}

</body>

</html>